<div class="row">

  <div class="col-xs-12">
    <img [src]="recipeselected.imagePath" alt="{{recipeselected.name}}" class="img-responsive" style="max-height: 300px">

  </div>
</div>
<div class="row">

  <div class="col-xs-12">

    <h1>{{recipeselected.name}}</h1>
  </div>
</div>
<div class="row">

  <div class="col-xs-12">

      <li class=" btn-group  btn  btn-success dropdown" dropdown> <!-- {1} -->
        <a dropdownToggle role="button"> <!-- {2} -->
          Dropdown <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
          <li><a href="#"  (click)="onAddToShoppoingList()" style="cursor: pointer">Add Ingredient to shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </li>


  </div>
</div>


<div class="row">

  <div class="col-xs-12">
    {{recipeselected.description}}
  </div>

</div>


<div class="row">

  <div class="col-xs-12">
 <ul class="list-group">

   <li
     class="list-group-item" *ngFor="let ingredient of recipeselected.ingredients">
     {{ingredient.name}} ({{ingredient.amount}})
   </li>
 </ul>
  </div>

</div>
